#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    width: 85%;
    min-width: min-content;
    margin: 0 auto;
    padding: 0 40px;
}

.text-area {
    order: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
}

.text-area h1 {
    width: fit-content;
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin:  0;
}

.text-area p {
    margin: 0;
    font-size: 18px;
    width: fit-content;
}

.text-area .location {
    color: #901C1C;
    font-size: 24px;
}

.close-btn {
    padding: 0;
    border: none;
    cursor: pointer;
    background: url(assets/icons/close.svg) center center / 42px 42px;
    width: 42px;
    height: 42px;
    top: 77px;
    right: calc(13vw - 69px);
    z-index: 12;
}

.contact_button, .btn-finish {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.btn-finish {
    display: none;
    margin-top: auto;
    align-self: center;
}

.success-text {
    display: none;
    font-size: 64px;
    text-align: center;
    margin-top: auto;
    align-self: center;
  }

.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

form textarea {
    font-size: 24px;
    height: 170px;
}

.form-data[data-error]::after {
    content: attr(data-error);
    font-size: 24px;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 0.8;
    opacity: 0;
    transition: 0.3s;
  }

.form-data[data-error-visible="true"]::after {
  opacity: 1;
}

.form-data[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.like-and-price {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 40px;
    bottom: 0;
    right: 30px;
    background-color: #DB8876;
    padding: 10px 16px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: 500;
}

.media-section {
    width: calc(85% + 80px);
    height: auto;
    margin: 30px auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: center;
    gap: 20px 8%;
}

.media-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.card-thumbnail img, video {
    width: 100%;
    aspect-ratio: 7 / 6;
    object-fit: cover;
    border-radius: 5px;
}

.card-content {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.card-content .title {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.card-content .like {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
}

.card-content .like p {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.card-content .like svg {
    width: 17px;
    height: 16px;
    fill: currentColor;
}

 .sort-section {
    display: flex;
    gap: 25px;
    width: calc(85% + 80px);
    height: 43px;
    margin: 0 auto;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    overflow: visible;
}

.sort-by {
    margin-top: 10px;
}

.dropdown {
    position: relative;
    width: 150px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    background: #901C1C;
    user-select: none;
    border-radius: 5px;
}

.dropdown--open {
    padding: 10px 15px;
    height: 131px;
}

.dropdown .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    padding: 10px;
}

.options-menu {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 1;
}

.options-menu p {
    margin: 0;
    padding: 10px;
}

.options-menu--visible {
    display: block;
}

.hide-option {
    display: none;
}

.middle-separation {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.arrow {
    width: 16px;
    height: 11px;
    fill: white;
    transition: 400ms ease-in-out;
}

.arrow--rotate {
    transform: rotate(180deg);
}


/* Lightbox: */
.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    animation: lightboxIn 500ms ease-in-out;
}

.lightbox button {
    position: fixed;
    padding: 0;
    border: none;
    cursor: pointer;
    fill: #901C1C;
}

.lightbox-next, .lightbox-prev {
    background: url(assets/icons/arrow.svg) center center / 30px 48px no-repeat;
    width: 96px;
    height: 96px;
    top: 50%;
    right: calc(13vw - 96px);
    margin-bottom: 48px;
    z-index: 11;
}

.lightbox-prev {
    right: auto;
    left: calc(13vw - 96px);
    transform: rotate(180deg);
}

.lightbox-close {
    background: url(assets/icons/lightbox_close.svg) center center / 42px 42px;
    width: 42px;
    height: 42px;
    top: 77px;
    right: calc(13vw - 69px);
    z-index: 12;
}

.lightbox-content {
    width: 73vw;
    height: 88%;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    overflow: hidden;
}

.lightbox-content img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    animation: lightboxIn 500ms ease-in-out;
}

.media-title {
    margin: 0;
    position: fixed;
    left: 13.5vw;
    bottom: 2vh;
    font-size: 24px;
    color: #901C1C;
    z-index: 11;
}

.lightbox-loader {
    width: 38px;
    height: 38px;
    margin: auto;
    margin-top: calc(50vh - 19px);
    opacity: 0.5;
    background: url(assets/loader.svg) center center no-repeat;
}

.lightbox-fadeOut {
    animation: fadeOut 250ms linear forwards;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}